<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  </head>
<body>
	<table border="1" align="center">
		<tr>
			<th> Header 1 </th>
			<td> Row 1, cell 1</td>
			<td> Row 2, cell 2</td>
			<td> Row 2, cell 2</td>
		</tr>
		<tr>
			<th> Header 2</th>
			<td> Row 2, cell 2</td>
			<td> Row 2, cell 2</td>
			<td> Row 2, cell 2</td>
		</tr>
	</table>


</body>

</html>